<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coaching 4 Change - Programs</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Varela Round:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/assets/logo_stacked.jpg">
  <link rel="apple-touch-icon" href="/assets/logo_stacked.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<!--<script>
$(document).ready(function(){
  $("button").click(function(){
    $(this).parents(".ex").hide(100);
  });
});
</script>-->
<!--<script>
$( "button" ).click(function() {
  $( "#testimonial .container .fourteen.columns .ex" ).show();
});
</script>-->


</head>


<body>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>




  <!-- Primary Page Layout
  ================================================== -->

<div id="top">
  <div class="container">
   <div class="fourteen columns">

      <p>  Annual Report | Contact Us |  <strong><%= link_to 'DONATE', new_charge_path %></strong></p>
      
     
 
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="sixteen columns">
      <nav>
      <div class="logo">
        <%= link_to image_tag("c4c-logo-print.png"), root_path('')%>
      </div>
        <ul>
          
          
          <li><strong><%= link_to 'Our Team', page_path('our_team')%></strong></li>
         
          <li><strong><%= link_to 'New & Media', page_path('media')%></strong></li>
          <li><strong><%= link_to 'Donate', new_charge_path %></strong></li>
           
        </ul>

      </nav>
   </div>
 </div>
</div>


<div id="cascade">





<div id="programs">

          
  <div id="coaching_leadership">
    <div class="container">
      <div class="sixteen columns">
         <h1>Our Programs</h1>
         <!--<h2><strong>Our Process</strong></h2>-->
      
         <p>We create opportunities for our participants to thrive outside of school to build confidence that they can carry through out life. Our participants come from backgrounds where many of their peers are dropping out of school. Our programs engage High School students and allow them to enjoy learning through experience. These skills carry over into the classroom, helping the High School Students stay engaged and go onto graduate.</p>
        
         <img src="/assets/graphic.png">

        
          
          <h2><strong>Coaching Leadership Academy</strong></h2>
          <p><strong>Coach Leadership Academy (CLA)</strong> is a coaching apprenticeship program in which high school students build self-confidence and develop leadership, teamwork, and other soft business skills by coaching elementary school students (3rd-5th graders).  Students participate in a 8-10 week program for two hours a day, four days a week, after school.</p><div class="stepback"><img src="/assets/stepback.png"/></div>

          <p>One day each week, they are trained how to be effective coaches, building plans for their sessions with elementary school students.  Two days during the week they are on-site at the elementary school with a group of 45 elementary students (1:3 HS/ES student ratio) to teach them basketball-related games and drills.  The fourth day is reserved for academic support when the high school students do homework and receive support for their academic classes.</p>

                 
         
        
      
      <!--<div class="seven columns omega">-->
      
       
      
       
        <h2><strong>Youth Sports Leadership Program</strong></h2>
        <p><strong>Youth Sports Leadership Program (YSLP)</strong> is an apprenticeship program that combines business with coaching as students learn to plan and implement a 3 on 3 basketball tournament at their own school.  The focus is on developing the leadership, teamwork, planning and responsibility required to plan and implement a successful event.  This program is particularly meaningful to students’ development because they are challenged to run a <em>small business</em>.</p> 
       
        <p>They must plan and implement an event, running the gamut from recruiting teams, securing space, creating and managing a budget, buying inventory for concessions, managing concessions, hiring referees and overseeing the event itself to ensure that it is both successful and profitable.  For most students, this experience is the first time their math skills become relevant to them and they are accountable for showing up, delivering on commitments and managing inevitable team disagreements.  This experience is fundamental in getting these youth to see the importance of work and the satisfaction of accomplishing their objectives.</p>
     </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
 
</div>
<!--<div id="graphic">
  <div class="container">
    <img src="images/c4c-images/graphic.png">
  </div>
</div>-->
<div id="testimonial">
  <div class="container">
    <div class="fourteen columns">
      <h1>Student Spotlight</h1>
  
        
          <p><img src="/assets/testimonial.png"/>  <strong>Reggie Espada</strong> is a veteran Community Coach with C4C, and a junior at Southeastern Regional 

High School in Easton, MA. This semester, Reggie ventured out to try our newest program, 

“SERVT South Middle School”.

 It’s hard to talk to Reggie without feeling inspired by his enthusiasm for Coaching4Change. 

The way his face lights up during conversation about his C4C experiences, you would think he 

just won the lottery. 

Reggie has lived in Brockton, MA since he was six years old. Like so many Brockton youth 

before him, Reggie did not feel connected to school or motivated to engage in his classes.</p>








<div class="hideshow"><button>Read More</button>

<div class="message">

  <p>Even after switching from public school to vocational school during his freshman year, he could 

not find a pathway to academic success. He failed his freshman year and was forced to repeat. 

During his second freshman year, he began to get fed up with the whole concept of school. He 

understood that another year of failed classes would result in unforgiving consequences, so he 

made sure to do just enough to pass on to the next level.</p>
 <blockquote> <p>I want to work for Coaching4Change. I need to connect with people, and influence youth to make good choices and graduate.</p>
 </br></br><footer>- Reggie Espada, Community Coach</footer></blockquote> 

  <p>In fall of 2013, his defeatist mentality lead him to a series of unpleasant discussions with his 

mom, as he informed her that he didn’t care about graduating and intended on dropping out of 

high school. The guidance department and concerned teachers recommended that he join the 

C4C programs.</p>

 <p>Reggie signed up for the SERVT Elementary program and became a Community Coach 

running activities for youth at the Boys & Girls Club of Brockton during fall semester of his 

sophomore year. For the first time in his life, he was empowered with the responsibility to be a 

leader, decision maker, and role model. He began to see himself in a new light.</p>

 In addition to his new title and job description, our program requires that all Community 

Coaches turn in progress reports filled out and signed by each of their teachers. The progress 

reports track grades, homework completion, effort, and behavior. To everyone’s surprise, this 

became Reggie’s saving grace. It helped him to stay on task and reminded him to get all of his 

work done. He knew that if he did not complete his assignments and turn in the progress 

reports, he would not receive his semesterly stipend ($200) from C4C. To add to his great list of 

“First time experiences”, Reggie passed all of his classes during his sophomore year. He even 

attended summer school to make up for some of his lost credits.</p>

<p> This year (2014-15), Reggie is overwhelmed with pride when announcing that he is a junior 

and well on his way to graduate next year. In fact, during fall semester of junior year, he has all 

A’s and B’s. When asked about his potential career path, he was quick to respond: “I know that 

I take cabinet making as my vocation program, but I don’t want to do that after high school. I 

want to work for Coaching4Change. I need to connect with people, and influence youth to make 

good choices and graduate.” He understands that C4C is only considering college graduates in 

the hiring process, and so his plan is to apply to all the colleges that participate in C4C 

programming, so that he can be a volunteer mentor and work his way up to staff.</p>

<p> At the end of this fall semester, Reggie has requested to give a C4C Graduation speech at 

Stonehill College in front of all the SERVT programs. The topic of his graduation speech is 

“How C4C Changed My Life”.</p>

</div>
    </div>
  </div>
</div>

<div id="partners">
  <div class="container">
    <div class="tweleve columns offset-by-two">
      <div class="part"><h1>Our Partners</h1></div>
        
        <div class="one-seventh column">
         <img src="/assets/bu.gif"/>
        </div>

        <div class="one-seventh column">
          <img src="/assets/stonehill_logo.jpg"/>
        </div>

        <div class="one-seventh column">
          <img src="/assets/servt.png"/>
        </div>
   
        <div class="one-seventh column">
          <img src="/assets/bhs.jpg"/>
        </div>

      <div class="one-seventh column">
      
          <img src="/assets/arnone.jpg">
      
      </div>
      <div class="one-seventh column">
       <img src="/assets/westend.jpg">
      </div>

      <div class="one-seventh column">
        <img src="/assets/brocktonbgc.jpg">
      </div>
       <div class="one-seventh column">
        <img src="/assets/learn_fresh.png" id="fres">
      </div>
  </div>
</div>
    </br>
       <div class="but"><a href="#"><strong>Become a Partner</strong></a></div>
    </div>
  </div>

<div id="footer">
  <div class="container">
    <div class="twelve columns">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </nav>
</div>
<div class="two columns">
 
  <img src="/assets/logo_stacked_words.jpeg" alt="Jottly" />
</br>
</br>
   <p>&copy; 2014. Coaching4Change All Rights Reserved.</p>
 </div>
</div> 
</div>
    </div>
  </div>
</div>
      <!--- Our goal is to create an environment that motivates, engages, and inspire continued learning as well as personal growth. -->
<script>
$(document).ready(function(){
 $(".hideshow  button").click(function(){
  $(".message").toggle();
  $(".hideshow button").hide(300);
  });
});
</script>

<!-- End Document
================================================== -->
</body>
</html>
