  <div class="six columns omega">
    <div id="form">
      
    <h2>Email C4C</h2>
    <%= form_for @contact do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name, placeholder: "First and last name" %>
    <%=f.label :email  %>
    <%=f.text_field :email, placeholder:"example@email.com"%>
    <%= f.label :subject %>
    <%= f.select(:subject, options_for_select([['My organization would like to partner with Coaching4Change'], ['My organization would like to sponsor Coaching4Change'], ['I am a high school student and would like to volunteer for one of the Coaching4Change programs'], ['I have a question about Coaching4Change programs'],['Other']]), {:prompt => 'Select a Subject'})%>
    <%= f.label "Text" %>
    <%= f.text_area :question, placeholder: "Comment or Question" %> 
    <%= f.submit "Submit Email" %>
  <% end %>

</div>
    <h2>Address</h2>

    <p>Coaching 4 Change, inc</br>
      75 Amory Street</br>
       3rd floor</br>
       Boston, MA 02119
    </p>
</div>
 
