<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coaching 4 Change</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Varela Round:300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <!-- CSS
  ================================================== -->
 <%= stylesheet_link_tag "skeleton", "layout", "base" %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/c4c-images/logo_stacked.jpg">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <!--<link rel="stylesheet" type="text/css" href="javascripts/slick-1.3.11/slick/slick.css"/>-->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>
  


<!-- Start WOWSlider.com HEAD section -->
  <!--<link rel="stylesheet" type="text/css" href="engine1//style.css" media="screen" />-->
  <!--<script type="text/javascript" src="engine1//jquery.js"></script>-->
<!-- End WOWSlider.com HEAD section -->


</head>


<body>
  <!-- Primary Page Layout
  ================================================== -->

<div id="top">
  <div class="container">
   <div class="fourteen columns">
      <p>  Annual Report | Contact Us |  <strong><a href="#">DONATE</a></strong></p>
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="sixteen columns">
      <nav>
      <div class="logo">
        <%= link_to image_tag("c4c-logo-print.png"), root_path('')%>
      </div>
        <ul>
          <li><strong><%= link_to 'Programs', page_path('programs')%></strong></li>
          <li><strong><%= link_to 'Our Team', page_path('our_team')%></strong></li>
          
         
           <li><strong><%= link_to 'New & Media', page_path('media')%></strong></li>

        </ul>

      </nav>
   </div>
 </div>
</div>

<div id="cascade">
<div id="donate">

<div class="container">
  <div class="sixteen columns clearfix">
    <h1>Support Us</h1>
    <div class="par"><p>Please donate to Coaching4Change so we can continue to provide great programs to at-risk youth! You can also donate $10 by texting <a href="sms:80088?body=GIVE 18248">GIVE 18248 to 80088</a>. If you would like donate a different amount than listed below please <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=wqDPlShlbGZNtBpWXWKImUgtCalgMlnTnhBRQ1eWXEWdtJcGQdWZD2-lt_C&dispatch=5885d80a13c0db1f8e263663d3faee8d66f31424b43e9a70645c907a6cbd8fb4">click here</a>. If you would like to become a corporate sponsor, please contact <a href="mailto:marquis@c4cinc.org?subject=I%20would%20like%20to%20become%20a%20corporate%20sponsor">marquis@c4cinc.org</a>.</p></div>
    <div class="eight columns alpha">
      <%= form_tag charges_path do %>
          <article>
            <label class="amount">
              <h2>Student Uniform</h2>
              <%= image_tag "tshirt.png" %>
              <h3><span>$</span>25</h3>

              <p>Provides one uniform for a high school student employee</p>
            </label>
          </article>
          <button class="stripe-button-el" data-amount="2500">Donate $25</button>
          <!--handle selecting your own amount of money with paypal-->
      <% end %>
    </div>

    <div class="eight columns omega">
      <%= form_tag charges_path do %>
          <article>
            <label class="amount">
              <h2>5 Jerseys</h2>
              <%=image_tag "jersey.png"%>
              <h3><span>$</span>50</h3>
              <p>Provides jerseys for 5 elementary student-athletes</p>
            </label>
          </article>
          <button class="stripe-button-el" data-amount="5000">Donate $50</button>
          <!--handle selecting your own amount of money with paypal-->

      <% end %>
    </div>
  </div>
   <div class="sixteen columns clearfix">
    <div class="eight columns alpha">
      <%= form_tag charges_path do %>
          <article>
            <label class="amount">
              <h2>Graduation Certificates</h2>
              <%= image_tag "grad.png"%>
              <h3><span>$</span>100</h3>
              <p>Provides graduation certificates for all high school student employees</p>
            </label>
          </article>

          <button class="stripe-button-el" data-amount="10000">Donate $100</button>
          <!--handle selecting your own amount of money with paypal-->

      <% end %>
    </div>
    <div class="eight columns omega">
      <%= form_tag charges_path do %>
          <article>
            <label class="amount">
              <h2>Student Salary</h2>
              <%= image_tag "coach.png"%>
              <h3><span>$</span>200</h3>
              <p>Provides a salary for 1 high school student employee for one semester.</p>
            </label>
          </article>
          
          <button class="stripe-button-el" data-amount="20000">Donate $200</button>
          <!--handle selecting your own amount of money with paypal-->

      <% end %>
    </div>
  </div>
  <div class="sixteen columns clearfix">
    <div class="eight columns alpha">
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <h2>Field Trip</h2>
      <%= image_tag "bus.png" %>
      <h3><span>$</span>300</h3>
      <p>Provides one college field trip for cohort of 15 high school student employees</p>
      
    </label>
  </article>
  <button class="stripe-button-el" data-amount="30000">Donate $300</button>
  <!--handle selecting your own amount of money with paypal-->
  
<% end %>
</div>
<div class="eight columns omega">
<%= form_tag charges_path do %>
  <article>
    <label class="amount">

       <h2>Sports Equipment</h2>
       <%=image_tag "bball.png" %>
       <h3><span>$</span>500</h3>
       <p>Provides sports equipment for program activities</p>
      
    </label>
  </article>

   <button class="stripe-button-el" data-amount="50000">Donate $500</button>
  <!--handle selecting your own amount of money with paypal-->
  
<% end %>
  </div>
</div>
<div class="sixteen columns clearfix">
<div class="eight columns alpha">
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <h2>Mentor Training</h2>
      <%=image_tag "train.png"%>
      <h3><span>$</span>1,000</h3>
      <p>Provides training for all program mentors and teachers</p>
    </label>
  </article>
  
  <button class="stripe-button-el" data-amount="100000">Donate $1,000</button>
  
  <!--handle selecting your own amount of money with paypal-->
  <% end %>
</div>
<div class="eight columns omega">
  <%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <h2>Instructor Salary</h2>
      <%= image_tag "teacher.png"%>
      <h3><span>$</span>3,700</h3>
      <p>Provides a salary for the program instructor</p>
    </label>
  </article>
<button class="stripe-button-el" data-amount="370000">Donate $3,700</button>


<% end %>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
  <div class="container">
    <div class="twelve columns">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </nav>
</div>
<div class="two columns">
 
  <img src="/assets/logo_stacked_words.jpeg" alt="Jottly" />
</br>
</br>
   <p>&copy; 2014. Coaching4Change All Rights Reserved.</p>
   
 </div>
</div> 
</div>
    </div>
  </div>
</div>
      <!--- Our goal is to create an environment that motivates, engages, and inspire continued learning as well as personal growth. -->
      

<!-- End Document
================================================== -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var csrf_token = null;
    var amount = null;

      var handler = StripeCheckout.configure({
          key: '<%= Rails.configuration.stripe[:publishable_key] %>',
          //image: '/square-image.png',
          token: function(token) {
              $.post(
                '<%= charges_path %>',
                {
                  token: token,
                  authenticity_token: csrf_token,
                  amount: amount
                },
                function(data)
                {
                    if (data.success)
                    {
                        console.log(data.message);
                    }
                    else
                    {
                        console.log(data.message);
                    }
                },
                'json'
              );
          }
      });

      $('.stripe-button-el').on('click', function(e) {
          // Open Checkout with further options
          amount = $(this).attr('data-amount')
          csrf_token = $(this).parent().find("input[name='authenticity_token']").val();

          handler.open({
              name: 'c4cinc.org',
              description: 'Support C4C ($'+(amount/100)+')',
              amount: amount,
          });
          e.preventDefault();
      });

      // Close Checkout on page navigation
      $(window).on('popstate', function() {
          handler.close();
      });
  </script>
</body>
</html>

